@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

body{
    font-family: Impact;
}

.posts, .post{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.postButton{
    background: #5A394E;
    padding: 20px 0;
    width: 100%;
    font-size: 20px;
    color: white;
    border: 1px white solid;
    cursor: pointer;

    transition: .3s linear;
    box-shadow:
            inset 1px 0 0 rgba(255,255,255,.1),
            inset -1px 0 0 rgba(255,255,255,.1),
            inset 150px 0 150px -150px rgba(255,255,255,.12),
            inset -150px 0 150px -150px rgba(255,255,255,.12);
}

.sendCommentButton{
    background: #5A394E;
    padding: 20px 0;
    width: 100%;
    font-size: 20px;
    color: white;
    border: 1px white solid;
    cursor: pointer;

    margin-top: 20px;
    transition: .3s linear;
    box-shadow:
            inset 1px 0 0 rgba(255,255,255,.1),
            inset -1px 0 0 rgba(255,255,255,.1),
            inset 150px 0 150px -150px rgba(255,255,255,.12),
            inset -150px 0 150px -150px rgba(255,255,255,.12);
}

.postButton:hover, .sendCommentButton:hover {
    background: rgb(72, 46, 62);

}

.postButton:active, .sendCommentButton:active{
    background: rgba(0, 0, 0, 0);
}

.title{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.image{
    width: 70%;
    margin: 60px 15% 30px 15%;
}

.content{
    width: 100%;
    margin-bottom: -30px;
    word-wrap: break-word;
}

.avatar{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.userAndDate{
    margin-bottom: 30px;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    margin-top: 13px;
}

.date{
    color: darkgray;
}

.comment{
    margin-left: 60px;
    word-wrap: break-word;
}


.likeButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 0%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
}

.noLike {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.noLike:hover {
    background-color: #4CAF50;
    color: white;
}

.yeapLike {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.yeapLike:hover {
    background-color: #f44336;
    color: white;
}


.commentArea{
    padding: 15px 5px;
    width: calc(100% - 10px);
    margin: 4px 0 0 0;
    font-size: 17px;
    font-family: Impact;
}

.divLike{
    float: left;
    width: 16%;
    margin-right: 2%;
}


.divTextArea{
    float: right;
    width: 82%;
}

.likeAndComment{
    width: 100%;
}

button,
button:active,
button:focus {
    outline: none;
    font-family: Impact;
}

textarea {
    resize: none;
}

@media only screen and (max-width: 1495px) {
    .menu-main a{
        padding: 20px 20px !important;
    }
}

@media only screen and (max-width: 769px) {
    .menu-main a{
        margin: 0 auto;
    }
}

@media only screen and (max-width: 850px) {
    .likeButton{
        width: 110px;
    }

    .commentArea{
        width:
    }

    .divTextArea {
        width: calc(95% - 110px);
    }
}
