@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

.posts, .post{
    width: 90%;
    margin: 0 auto;
    font-family: 'PT Sans Caption', sans-serif;
}

.postButton{
    background: #5A394E;
    padding: 20px 0;
    width: 100%;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 20px;
    color: white;
    cursor: pointer;

    transition: .3s linear;
    box-shadow:
            inset 1px 0 0 rgba(255,255,255,.1),
            inset -1px 0 0 rgba(255,255,255,.1),
            inset 150px 0 150px -150px rgba(255,255,255,.12),
            inset -150px 0 150px -150px rgba(255,255,255,.12);
}

.postButton:hover {
    background: rgb(72, 46, 62);

}

.postButton:active{
    background: rgba(0, 0, 0, 0);
}

.title{
    font-size: 20px;
    margin-bottom: 20px;
}

.image{
    margin-bottom: 30px;
}

.avatar{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.userAndDate{
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    margin-top: 12.5px;
}

.date{
    color: darkgray;
}

button,
button:active,
button:focus {
    outline: none;
}