body{
    font-family: Impact;
}

.Profile{
    font-size: 30px;
    background: rgba(0, 0, 0, 0.2);
    border: 10px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 20%;
    margin: 0 auto;
}

.Attribute p{
    display: inline;
}

.Profile .profilePicta {
    width: 100%;
    border-radius: 15px;
    border: 1px solid black;
}

.Profile h4 {
    color: gold;
}

.noMoney{
    visibility: visible;
}


.yeapMoney{
    visibility: hidden;
}